/*  去掉高德logo */
.BMap_cpyCtrl {
  display: none;
}
.anchorBL {
  display: none;
}
.amap-logo img {
  display: none;
}
.amap-copyright {
  opacity: 0;
}
.amap-maps {
  cursor: grab;
}
.amap-maps:active {
  cursor: grabbing;
}
.amap-toolbar {
  background-color: rgba(255, 255, 255, 0.676);
  @apply overflow-hidden rounded-2xl;
}
.amap-controlbar {
  scale: 0.8;
}
